<div>
  <div>
  <%= image_tag "https://i.ibb.co/r5dWwS6/exqdnwsaixxpsrkygl2e.jpg", class: "avatar-bordered"%>
  </div>
  <br>
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>
  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>
</div>
