<div>
  <div>
  <%# <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
  </div>
  <br>
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>
  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>


</div>
