<h1>My profile</h1>

<%= render @user %>

<div>
<% if policy(@user).edit? %>
  <%= link_to "Edit my profile", edit_user_path(@user) %>
<% end %>

</div>


<%# try to build here %>
<%# or try on movables show %>
