<div class="container">
 <div class="edit-part">
    <%= render @user %>

    <div>
    <% if policy(@user).edit? %>
      <%= link_to "Edit my profile", edit_user_path(@user), class: "edit-button" %>
    <% end %>

    </div>
  </div>
</div>
