<%# Category Templates - this serve as a template for each card-category %>

<%# Armchairs %>


<%# CATEGORYS: Armchairs Sofas Chairs Tables Lights Rugs Beds Decorations Plants %>
  <%# cards grid structure %>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/qMny2zc/Armchairs-taylor-vick-Vhbv-P3h-Qwu8-unsplash.jpg)">
    <p> Card 1 </p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/qMny2zc/Armchairs-taylor-vick-Vhbv-P3h-Qwu8-unsplash.jpg)">
    <p> Card 2  </p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/qMny2zc/Armchairs-taylor-vick-Vhbv-P3h-Qwu8-unsplash.jpg)">
    <p> Card 3  </p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/qMny2zc/Armchairs-taylor-vick-Vhbv-P3h-Qwu8-unsplash.jpg)">
    <p> Card 4 </p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/qMny2zc/Armchairs-taylor-vick-Vhbv-P3h-Qwu8-unsplash.jpg)">
    <p> Card 5 </p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/qMny2zc/Armchairs-taylor-vick-Vhbv-P3h-Qwu8-unsplash.jpg)">
    <p> Card 6 </p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <p> Card 7 </p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/qMny2zc/Armchairs-taylor-vick-Vhbv-P3h-Qwu8-unsplash.jpg)">
    <p> Card 8 </p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/qMny2zc/Armchairs-taylor-vick-Vhbv-P3h-Qwu8-unsplash.jpg)">
    <p> Card 9 </p>
  </div>
</div>
