<div class="container">

<h1>Editing movable</h1>

<%= render "form", movable: @movable %>

<br>

<div>
  <%= link_to "Show this movable", @movable %> |
  <%= link_to "Back to movables", movables_path %>
</div>

</div>
