.bookings-header {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ff4725;
}

.bookings-row {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

a:hover {
  color: #ff4725;
}
